<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InsectsPopularScience"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config">
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.InsectsPopularScience">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.InsectsPopularScience" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.InsectsPopularScience" />
        <activity
            android:name=".activity.InsectDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.InsectsPopularScience" />
        <activity
            android:name=".activity.ArticleDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.InsectsPopularScience" />
        <activity
            android:name=".activity.PublishShareActivity"
            android:exported="false"
            android:theme="@style/Theme.InsectsPopularScience" />
        <activity
            android:name=".activity.EditShareActivity"
            android:exported="false"
            android:theme="@style/Theme.InsectsPopularScience" />
        <activity
            android:name=".activity.ShareDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.InsectsPopularScience" />
        <activity
            android:name=".activity.MyFavoritesActivity"
            android:exported="false"
            android:theme="@style/Theme.InsectsPopularScience" />
        <activity
            android:name=".activity.MySharesActivity"
            android:exported="false"
            android:theme="@style/Theme.InsectsPopularScience" />
        <activity
            android:name=".activity.UpdateProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.InsectsPopularScience" />
        <activity
            android:name=".activity.ChangePasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.InsectsPopularScience" />
    </application>

</manifest>